body {
  font-family: "Fragment Mono", monospace;
}
.weather-app {
  font-family: "Fragment Mono", monospace;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  border-radius: 15px;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 100;
  line-height: 19px;
}
